<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="top-nav">

    <form class="search-form">
      <span class="logo" routerLink="/">Dev Vashisth</span>
      <input
        class="search-input"
        name="search"
        ngModel
        placeholder="Search employee"
      />
      <button class="search-button">Search</button>
    </form>
  
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
      <li>Five</li>
    </ul>
    </section>
